{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/asdproject"
    },
    "cloudant": {
      "db": "https://itiveditervendarzanytond:QTVeySmH2B8FGcBNFlYvT7N4@janellesalisbury.cloudant.com/asdproject"
    }
   }
} 
   
